<!DOCTYPE html>
<html>

    {% block head %}

    <head>

        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/bootstrap.css') }}">

        <title>Car Charge Schedule</title>

    </head>

    {% endblock %}

    <body>

        {% block body %}

        {% if username != ''%}
        
        <form action="/admin/index" method="post">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/admin/index">Car Charge Scheduler</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav_user">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/admin/station_managment">station managment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/channel_managment">channel managment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/report_page">report</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/reported_users">reported users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/index">switch to user account</a>
              </li>
                <input type="submit" name="index_buttons" value="log out" class="btn btn-danger">
            </ul>
          </div>
        </nav>

        </form>

        <div id="content">{% block content %}{% endblock %}</div>
        
        {% else %}

        <h1>Welcome to the Car Charge Schedule admin page!</h1>

        <form action="/admin/index" method="post">

            <input type="submit" name="index_buttons" value="log in" class="btn btn-dark">

            <input type="submit" name="index_buttons" value="log out" class="btn btn-danger">

        </form>

        {% endif %}


        {% endblock %}

        <script src="{{ url_for('static',filename='scripts/js/bootstrap.js') }}"></script>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>


    </body>

</html>
