{% extends "admin_index.html" %}

{% block content %}
<form action="/admin/report_page", method="post">

    <select name="station_name_select" class="Input">

        {% for i in stations_id %}
        <option value="{{ i[0] }}">{{ i[0] }}</option>
        {% endfor %}

    </select>

    <select name="station_location_select" class="Input">
        {% for i in stations_address %}
        <option value="{{ i[0] }}">{{ i[0] }}</option>
        {% endfor %}
    </select>

    <select name="channel_title_select" class="Input">
        {% for i in channel_list %}
        <option value="{{ i[1] }}">{{ i[1] }}</option>
        {% endfor %}
    </select>

    <select name="User_select" class="Input">
        {% for i in user_list %}
        <option value="{{ i[1] }}">{{ i[1] }}</option>
        {% endfor %}
    </select>

    <input type="text" name="textfeild" vaule="additional tip">

    <input type="submit" name="button" value="report">
</form>
{% endblock %}