
<!DOCTYPE html>
<html>
    {% block head %}
    <head>
        <title>Car Charge Schedule</title>
    </head>
    {% endblock %}
    <body>
        {% block body %}

            <div class="login">
                <h1>Log in into CCS system</h1>
            </div>
            <form action="/login" method="POST">
                <input type="text" name="Username" id="Username">
                <input type="text" name="Password" id="Password">
                <input type="submit" name="button" value="login">
                <input type="submit" name="button" value="register">
            </form>
        {% endblock %}
    </body>
</html>
